@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Audiowide";
  src: url("./fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background: url("default.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

#overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1px);
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-clock-box {
  position: absolute;
  right: 15%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  font-family: "Orbitron", sans-serif;
  text-decoration: underline;
}

.date {
  font-size: 80px;
  opacity: 0.8;
  font-family: "Orbitron", sans-serif;
  transform: scaleY(1.5);
}

.month {
  font-size: 15px;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
}

.weekDay {
  font-size: 40px;
  color: rgb(255, 171, 185);
  font-family: "Audiowide", sans-serif;
  border-radius: 6px;
  font-weight: 500;
}

.container {
  width: 50%;
  height: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  align-items: start;
  padding: 10px;
}

.shortcuts-container {
  height: 70%;
  width: auto;
  border-radius: 6px;
  padding: 5px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(24, 24, 24, 0.541);
  border-radius: 999px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.461);
}

.shortcut {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 100%;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.shortcut:hover {
  transform: translateY(-2px);
}

.music-player {
  width: 220px;
  padding: 5px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: white;
  font-family: sans-serif;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.control-btn,
.play-btn {
  border: none;
  cursor: pointer;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.control-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.play-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
}

.control-btn:hover,
.play-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.song-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.song-title {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.edit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(1px);
  background-color: rgba(222, 222, 222, 0.237);
  color: white;
  font-weight: bold;
  z-index: 5;
}

.panel {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(36, 36, 36, 0.199);
  backdrop-filter: blur(15px);
  display: none;
  z-index: 5;
}

.panel.active {
  display: block;
}

.panel h3 {
  margin-bottom: 15px;
}

#bgUpload {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);
  color: white;
}

#bgUpload::file-selector-button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

#bgUpload::file-selector-button:hover {
  transform: translateY(-1px);
  background: rgba(255, 255, 255, 0.2);
}

.panel input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 10px;
  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  color: #fff;
  font-size: 14px;

  outline: none;
  transition: all 0.3s ease;
}

.panel input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.panel input:focus {
  border-color: rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, 0.12);

  box-shadow:
    0 0 0 3px rgba(255, 255, 255, 0.08),
    0 8px 24px rgba(0, 0, 0, 0.15);
}

.panel button {
  width: 100%;
  padding: 12px 16px;
  margin-top: 10px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  background: black;

  color: white;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
}

.panel button:hover {
  transform: translateY(-2px);
}

.panel button:active {
  transform: translateY(0);
}

.panel button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

canvas {
  position: absolute;
  inset: 0;
}

.hidden {
  display: none;
}
